* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'IBM Plex Mono';
}

main {
  width: 80%;
  margin: 0 auto;
  background-color: red;
}
