# Compose files to use together. NOTE: we specify separator below
# so it will work on Windows and Unix, see
# https://docs.docker.com/compose/reference/envvars/#compose_file
# Use docker-compose.yml;production.yml for production or docker-compose.yml/development.yml for development
COMPOSE_PATH_SEPARATOR=;
COMPOSE_FILE=docker-compose.yml;development.yml

# Time zone
TZ=America/Toronto

# Feature-flag Port
PORT=3000

# MongoDB
MONGO_DATABASE=db

# User and password for MongoDB
MONGO_USER=feature-flag
MONGO_PASS=feature-flag
MONGO_AUTH_SOURCE=admin

# Leave blank for development
MONGO_HOST=
